*{margin: 0; padding: 0;}

#wrap{
  width:1400px;
  /* margin: 0 auto; */
}

/* -----------------header------------------------ */

header{
  margin-top: 70px;
}

#main{
  width: 400px;
  padding-left: 180px;
  font-size: 35px;
}

#main:hover{color:white; text-decoration: none;}
#main:visited{color: white;}

/* -----------------body------------------------ */

body{
  background-color: black;
}

.list{
  width: 150px;
  height: auto;
  float: left;
  padding-top: 50px;
  padding-left: 200px;
}

.list li{
  list-style: none;
  font-size: 15px;
  padding: 7px;
}

a:link {color:white; text-decoration: none;}
a:hover{color:gray; text-decoration: underline;}
a:visited{color:white;}

#main_img{
  width: 800px;
  height: 550px;
  /* float: left; */
  padding-top: 30px;
  padding-left: 40px;
}

/* -----------------footer------------------------ */
footer{
  height: 90px;
  width: 1400px;
}
